@import '/src/scss/theme.scss';
@import '/src/scss/breakpoints.scss';

.new-body-section {
  padding-right: 90px;
  padding-left: 90px;

  @include md2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .new-body-container {
    max-width: 1159px;

    @include md2 {
      max-width: 620px;
    }

    .body-img-wrapper {
      flex-basis: 241px + 199px;
      height: 399px + 104px;
      flex-shrink: 0;

      @include lg {
        flex-basis: 176px + 86px;
        height: 248px + 65px;
      }

      @include md2 {
        width: 176px + 86px;
        flex-basis: 248px + 65px;
      }

      .body-img-container {
        .body-img-top {
          height: 399px;
          width: 347px;

          @include lg {
            height: 248px;
            width: 176px;
          }
        }

        .body-img-bottom {
          height: 359px;
          width: 241px;

          @include lg {
            height: 218px;
            width: 146px;
          }
        }
      }
    }

    .new-body-content-container {
      max-width: 540px;
    }
  }
}

.facilities-section {
  padding-right: 79px;
  padding-left: 155px;

  @include xlg {
    padding-left: 90px;
  }

  @include md2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .facilities-container {
    max-width: 1209px;

    .facilities-img-wrapper {
      flex-basis: 444px + 128px;
      height: 296px + 139px;

      @include lg {
        flex-basis: 202px + 73px;
        height: 135px + 63px;
      }

      @include md2 {
        order: -1;
        width: 202px + 73px;
        flex-basis: 135px + 63px;
      }

      .facilities-top-img {
        height: 296px;
        width: 444px;

        @include lg {
          height: 135px;
          width: 202px;
        }
      }

      .facilities-top-img:nth-child(2) {
        z-index: -1;
      }

      .facilities-bottom-img {
        height: 281px;
        width: 422px;

        @include lg {
          height: 128px;
          width: 191px;
        }
      }
    }
  }

  .facilities-content-container {
    max-width: 489px;
  }
}
