@import '/src/scss/theme.scss';
@import '/src/scss/breakpoints.scss';

.new-body-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 94px 140px 122px;

  @include xlg {
    padding: 94px 90px 122px;
  }

  @include md2 {
    padding: 35px 16px 23px;
  }

  .new-body-container {
    width: 100%;
    max-width: 1159px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    @include md2 {
      max-width: 620px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .body-img-wrapper {
      flex-basis: 241px + 199px;
      height: 399px + 104px;
      flex-shrink: 0;

      @include lg {
        flex-basis: 176px + 86px;
        height: 248px + 65px;
      }

      @include md2 {
        width: 176px + 86px;
        flex-basis: 248px + 65px;
      }

      .body-img-container {
        position: relative;
        width: 100%;
        height: 100%;

        .body-img-top {
          position: absolute;
          top: 0;
          left: 0;
          object-fit: cover;
          height: 399px;
          width: 347px;

          @include lg {
            height: 248px;
            width: 176px;
          }
        }

        .body-img-bottom {
          position: absolute;
          bottom: 0;
          right: 0;
          object-fit: cover;
          height: 359px;
          width: 241px;

          @include lg {
            height: 218px;
            width: 146px;
          }
        }
      }
    }

    .new-body-text-container {
      width: 100%;
      max-width: 540px;

      @include md2 {
        display: flex;
        flex-direction: column;
      }

      .new-body-heading {
        color: $pink-one;

        @include heading4;
      }

      .new-body-p {
        color: $gray-two;
        line-height: 2.3125rem;
        margin-bottom: 30px;

        @include body;
      }

      .new-body-btn {
        color: $pink-one;
        text-align: center;
        padding: 16px 65px;
      }
    }
  }
}

.facilities-section {
  padding-right: 79px;
  padding-left: 155px;

  @include xlg {
    padding-left: 90px;
  }

  @include md2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .facilities-container {
    max-width: 1209px;

    .facilities-img-wrapper {
      flex-basis: 444px + 128px;
      height: 296px + 139px;

      @include lg {
        flex-basis: 202px + 73px;
        height: 135px + 63px;
      }

      @include md2 {
        order: -1;
        width: 202px + 73px;
        flex-basis: 135px + 63px;
      }

      .facilities-top-img {
        height: 296px;
        width: 444px;

        @include lg {
          height: 135px;
          width: 202px;
        }
      }

      .facilities-top-img:nth-child(2) {
        z-index: -1;
      }

      .facilities-bottom-img {
        height: 281px;
        width: 422px;

        @include lg {
          height: 128px;
          width: 191px;
        }
      }
    }
  }
}
